@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.btn{
    width: 200px;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    color: #E0D9CE;
    background-color: black;
    margin-bottom: 30px;
    outline: none;
    border: #000000;
    font-family: 'Indie Flower', cursive;
}

