.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #E0D9CE;
}

.container{
cursor: pointer;
width: 200px;
margin: 20px;
}

.title{
display: flex;
justify-content: center;
position: absolute;
margin-top: -40px;
height: 30px;
width: 200px;
padding-top: 8px;
background-color: rgba(246, 241, 241, 0.673);
border-radius: 0 0 10px 10px;
font-size: 13px;
font-weight: 600;
}

.img{
width: 200px;
height: 250px;
border-radius: 10px;
}
